
/* Device detail*/

.header-sector {
  padding: 0 0 1rem 0;
  .device-nick {
    font-size: 2.125rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    .status-badge {
      font-size: 14px;
    }
  }
  .status-badge {
    font-weight: 400;
    font-size: 50%;
    line-height: 1rem;
    margin-left: 0.3em;
  }

  .device-revision-pager {
    display: none;
  }

  .device-revision-pager strong {
    display: inline-block;
    margin-right: 1rem;
    font-weight: 600;
  }

  .device-revision-pager .pagination {
    margin: 0;
  }
}

/* Status Badges blinking */
@keyframes blink {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.25;
  }
}

.status-badge:not(.status-new):not(.status-done):not(.status-error) {
  // animation: blink 1.5s ease-in-out infinite;
}

.device-detail-main .jumbotron {
  padding: 1rem 1rem 0 1rem;
  font-size: 0.875rem;
}

.device-navigator h3 {
  font-weight: 300;
  color: #38383f;
  margin-bottom: 1.5rem;
  margin-top: 3rem;
}

.device-navigator .nav-tabs {
  margin-bottom: 1rem;
  border: 0;
}

.device-navigator .nav-tabs .nav-link {
  border-radius: 0;
  border-color: #ddd;
  cursor: pointer;
}

.device-navigator .nav-tabs .nav-item:first-of-type .nav-link {
  border-radius: 0.25rem 0.25rem 0 0;
}

.device-navigator .nav-tabs .nav-item:last-of-type .nav-link {
  border-radius: 0 0 0.25rem 0.25rem;
}

.device-navigator .table {
  border: 1px solid #e9ecef;
  font-size: 0.875rem;
}

.device-navigator .table .expander {
  overflow: hidden;
  max-width: 100%;
}

.device-navigator .badge {
  margin-left: 1rem;
}

@media only screen and (min-width: 575px) {
  .header-sector .status-badge {
    font-size: 75%;
  }

  .device-navigator .table {
    font-size: 0.925rem;
  }

  .device-navigator .nav-tabs {
    margin-bottom: 0;
  }

  .device-navigator .nav-tabs .nav-link {
    border: none;
  }

  .device-navigator .nav-tabs .nav-link.active {
    border-radius: 0.25rem 0.25rem 0 0;
    border: 1px solid #ddd;
    border-color: #ddd #ddd #fff;
  }

  .device-navigator .nav-tabs .nav-item:last-of-type .nav-link {
    border-radius: 0.25rem 0.25rem 0 0;
  }
}


@media only screen and (min-width: 768px) {
  .device-detail-main .jumbotron {
    padding: 1rem 1.25rem 0 1.25rem;
    font-size: 0.925rem;
  }

  .header-sector .status-badge {
    float: none;
    font-size: 65%;
  }

  .header-sector .device-revision-pager {
    margin-top: 0.3rem;
    display: block;
  }
}

@media only screen and (min-width: 1024px) {
  .header-sector .status-badge {
    font-size: 75%;
  }

  .device-navigator .table {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1200px) {
  .device-detail-main .jumbotron {
    padding: 1rem 2rem 0 2rem;
    font-size: 1rem;
  }
}