.hts {
  &__steps {}

  &__step-circle {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

    span {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      width: 120px;
      height: 120px;
      font-size: 50px;
      border: 4px solid var(--gray-500);
      border-radius: 100%;
    }

    &--small {
      span {
        width: 80px;
        height: 80px;
        font-size: 30px;
      }
    }
  }
}