.about-us {
  .sell {
    margin-left: -15px;
    margin-right: -15px;
  }
  .section-title {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .feature-title-row h4 {
    font-weight: 300;
  }
  .feature-image,
  .features .feature-image {
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center center;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    .mdi {
      font-size: 55px;
      &::before {
        font-size: 50px;
        color: #343436;
      }
    }
  }
  .feature-image {
    background-color: #414262;
    margin: 0 auto;
    &--orange {
      background-color: rgb(54, 54, 54);
    }
  }
}