:root {
  --gray: #{$gray-100};
  --green: #{$green};
  --blue: #{$blue};
  --indigo: #{$indigo};
  --purple: #{$purple};
  --pink: #{$pink};
  --red: #{$red};
  --orange: #{$orange};
  --yellow: #{$yellow};
  --green: #{$green};
  --teal: #{$teal};
  --cyan: #{$cyan};
  --white: #{$white};
  --gray-100: #{$gray-100};
  --gray-200: #{$gray-200};
  --gray-300: #{$gray-300};
  --gray-400: #{$gray-400};
  --gray-500: #{$gray-500};
  --gray-600: #{$gray-600};
  --gray-700: #{$gray-700};
  --gray-800: #{$gray-800};
  --gray-900: #{$gray-900};
  --black: #{$black};
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary};
  --success-color: #{$success};
  --info-color: #{$info};
  --warning-color: #{$warning};
  --danger-color: #{$danger};
  --light-color: #{$light};
  --dark-color: #{$dark};
}

@for $i from 0 through 10 {
  .mt-#{$i*10} { margin-top: $i * 10px; }
  .mr-#{$i*10} { margin-right: $i * 10px; }
  .mb-#{$i*10} { margin-bottom: $i * 10px; }
  .ml-#{$i*10} { margin-left: $i * 10px; }
}

@for $i from 0 through 10 {
  .pt-#{$i*10} { padding-top: $i * 10px; }
  .pr-#{$i*10} { padding-right: $i * 10px; }
  .pb-#{$i*10} { padding-bottom: $i * 10px; }
  .pl-#{$i*10} { padding-left: $i * 10px; }
}

@for $i from 0 through 9 {
  .mt-#{$i} { margin-top: $i * 1em; }
  .mr-#{$i} { margin-right: $i * 1em; }
  .mb-#{$i} { margin-bottom: $i * 1em; }
  .ml-#{$i} { margin-left: $i * 1em; }
}

@for $i from 0 through 9 {
  .pt-#{$i} { padding-top: $i * 1em; }
  .pr-#{$i} { padding-right: $i * 1em; }
  .pb-#{$i} { padding-bottom: $i * 1em; }
  .pl-#{$i} { padding-left: $i * 1em; }
}

.text-monospace {
  font-family: 'Cutive Mono', SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
}

/* Icons */
.mdi::before {
  font-size: 1.2rem;
  line-height: 1rem;
}

th a .mdi::before {
  font-size: 1.2rem;
  line-height: 0.5rem;
  vertical-align: middle;
}
.btn .mdi::before {
  position: relative;
  /*top: 4px;*/
}
.btn-xs .mdi::before {
  font-size: 1rem;
  top: 0;
}
.btn-sm .mdi::before {
  font-size: 18px;
  top: 3px;
}
.dropdown-menu .mdi {
  width: 18px;
}
.dropdown-menu .mdi::before {
  position: relative;
  top: 4px;
  left: -8px;
}
.nav .mdi::before {
  position: relative;
  top: 4px;
}
.navbar .navbar-toggle .mdi::before {
  position: relative;
  top: 4px;
  color: #fff;
}
.breadcrumb .mdi::before {
  position: relative;
  top: 4px;
}
.breadcrumb a:hover {
  text-decoration: none;
}
.breadcrumb a:hover span {
  text-decoration: underline;
}
.alert .mdi::before {
  position: relative;
  top: 0.1rem;
  margin-right: 2px;
}
.input-group-addon .mdi::before {
  position: relative;
  top: 3px;
}
.navbar-brand .mdi::before {
  position: relative;
  top: 2px;
  margin-right: 2px;
}
.list-group-item .mdi::before {
  position: relative;
  top: 3px;
  left: -3px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

a,
button {
  cursor: pointer;
}

a {
  color: #3973c3;
}

a:hover {
  color: #3973c3;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 800;
  color: #38383f;
}
