/*!
 * PantaHub Custom Styles
 * Based on Bootstrap v4.0.0-beta (https://getbootstrap.com)
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

@import "./styles/variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./styles/generals";

html {
  overflow-y: scroll;
}

.status-badge { 
  text-transform: uppercase;
}

.badge-success {
  color: #fff;
  background-color: #5fba7d;
  font-weight: 400;
}

.badge-danger {
  color: #fff;
  background-color: $color-danger;
  font-weight: 400;
}

.badge-warning {
  color: #fff;
  background-color: #ffd451;
  font-weight: 400;
}

.badge-secondary {
  color: #fff;
  background-color: #c0c8d0;
  font-weight: 400;
}

.thead-inverse th {
  color: #fff;
  background-color: #8c9fb1;
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.025);
}

.btn-danger {
  color: #fff;
  background-color: #ff6978;
  border-color: #ff6978;
}

.btn-success {
  color: #fff;
  background-color: #5fba7d;
  border-color: #5fba7d;
}

.borderless td,
.borderless th {
  border: none;
  padding: 0.5rem 0rem;
}

/* Pagination */

.pagination {
  margin: 3rem 0rem 1rem 0rem;
}

.pagination {
  .page-item select {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-left: 1em;
    padding-right: 0.5em;
  }
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #3973c3;
  background-color: #fff;
  border: 1px solid #ddd;
}

/* Primary Navbar */

.navbar .container {
  padding-left: 0;
  padding-right: 0;
}

.bg-primary {
  background-color: $primary-color !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
}

.navbar-profile .nav-link {
  font-size: 1em;
  font-weight: 300 !important;
}

/* Content */

#container-main {
  padding: 5px 0;
}

/* Breadcrumb */

.breadcrumb-sector {
  padding: 1rem 0;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  border-bottom: 1px dotted #d9d9d9;
}

.breadcrumb-sector .quota-indicator {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .breadcrumb-sector .quota-indicator {
    margin-right: 1.2rem;
    display: inline-block;
  }
}

.breadcrumb {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: transparent;
}

@media only screen and (max-width: 368px) {
  .breadcrumb {
    font-size: 0.825em;
  }
}

.btn-light {
  color: #111;
  background-color: #f8f9fa;
  border-color: #dadada;
}

.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
}

.btn-primary:hover {
  background-color: #8a8aab;
  border-color: $primary-color;
}

.page-item.active .page-link {
  z-index: 2;
  color: #fff;
  background-color: #8a8aab;
  border-color: #8a8aab;
}

/* Terms of Service */
.terms-of-service {
  padding: 2rem;
}

/* Dashboard */

/* Getting Started / Feed */

.jumbotron {
  padding: 1rem 2rem 0rem 2rem;
  margin-bottom: 2rem;
  background-color: rgba(233, 236, 239, 0.36);
  border-radius: 0;
  border: 1px solid #e9ecef;
}

.getting-started {
  padding: 1rem 0;
}

.getting-started .btn {
  font-size: 0.825rem;
  font-weight: 300;
  margin-right: 1rem;
}

@media only screen and (min-width: 575px) {
  .getting-started .btn {
    font-size: 0.975rem;
  }
}

@media only screen and (min-width: 769px) {
  .getting-started .btn {
    font-size: 1.25rem;
  }
}

.feed-dashboard {
  padding: 2rem 1rem;
  margin-top: 2rem;
  border-top: 1px dotted #d9d9d9;
}

.feed-dashboard h2 {
  color: #38383f;
  font-weight: 600;
}

.list-feed {
  margin-top: 2rem;
}

.list-feed .badge-light {
  background-color: #e8e8e8;
  font-weight: 300;
  padding: 0.4rem;
  margin-right: 0.2rem;
}

.list-feed li {
  margin-bottom: 0.5rem;
}

.list-feed li a {
  /*color: #3F3F3F;*/
}

/* Your Dashboard */

.dashboard-sector {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 2rem;
  margin-top: 1rem;
}

.dashboard-sector h3 {
  font-weight: 500;
}

.dashboard-sector h4 {
  font-weight: 500;
  font-size: 1.2rem;
  margin: 1.5rem 0rem;
}

.dashboard-sector .quota-box {
}

.dashboard-sector .quota-box .progress {
  margin-bottom: 1rem;
}

.dashboard-sector .quota-box .progress .bg-success {
  background-color: $primary-color !important;
}

.dashboard-sector .quota-box .chart-bar {
  margin-bottom: 1rem;
  font-size: 0.825rem;
}

.dashboard-sector .quota-box .quota-detail {
  font-size: 0.7rem;
}

.dashboard-sector .quota-box .small {
  font-size: 70%;
}

@media only screen and (min-width: 575px) {
  .dashboard-sector .quota-box .chart-bar {
    margin-bottom: 1.5rem;
    font-size: 0.875em;
  }

  .dashboard-sector .quota-box .quota-detail {
    font-size: 0.875em;
  }

  .dashboard-sector .quota-box .small {
    font-size: 80%;
  }
}

@media only screen and (min-width: 769px) {
  .dashboard-sector .quota-box .chart-bar {
    margin-bottom: 2rem;
    font-size: 1em;
  }

  .dashboard-sector .quota-box .quota-detail {
    font-size: 1em;
  }

  .dashboard-sector .quota-box .small {
    font-size: 80%;
  }
}

/* Devices */

/* Devices list*/

.list-sector {
  .table {
    border: 1px solid #e9ecef;
    th {
      font-size: 0.95em;
    }

    td,
    th {
      white-space: nowrap;
      word-break: keep-all;
    }

    .error {
      white-space: normal;
      word-break: normal;
    }

    .progress-revision,
    .status,
    .status-msg,
    .actions,
    .timestamp,
    .step-time {
      display: none;
    }

    @media only screen and (min-width: 480px) {
      .timestamp {
        display: table-cell;
      }
    }

    @media only screen and (min-width: 768px) {
      .actions {
        display: table-cell;
      }
    }

    @media only screen and (min-width: 1024px) {
      .step-time,
      .progress-revision,
      .status-msg {
        display: table-cell;
      }

      .status-msg {
        max-width: 260px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    @media only screen and (min-width: 1200px) {
      .status {
        display: table-cell;
      }
    }

    .status-led {
      width: 0.825em;
      height: 0.825em;
      border-radius: 100%;
      display: inline-block;
      vertical-align: middle;
      margin-right: 0.25em;
    }

    .progress-revision {
      font-size: 0.925em;
    }

    td.timestamp,
    td.step-time {
      font-size: 0.875em;
    }
  }
}

/* Editable Element */

.editable {
  .editable-inner,
  i.mdi-cloud-upload,
  i.mdi-pencil,
  i.mdi-cancel,
  i.mdi-content-save {
    padding: 0 0.5rem;
    transition: padding 0.5s, background 0.5s, border 0.5s;
  }
  .editable-inner {
    margin-right: 0.3em;
  }
  i {
    cursor: pointer;
  }
  .editable-inner[contenteditable='true'] {
    background-color: rgba(233, 236, 239, 0.36);
    border: 1px solid #e9ecef;
    padding: 0 1rem;
    outline: none;
  }
}

.tab-content > .active#tab-content-metadata,
.tab-content > .active#tab-content-console {
  padding: 2em 0em;
  border-top: 1px solid #ddd;
}

/*Navigator readme*/
.readme-wrapper {
  padding: 3rem;
  border: 1px solid #e9ecef;
  .readme-inner-wrapper {
    max-width: 800px;
    margin: 0 auto;
    img {
      max-width: 100%;
    }
  }
}

/* Navigator Logs */
.log-wrapper {
  border: 1px solid #e9ecef;
  padding: 0.5rem;
  background-color: black;
  max-height: 400px;
  min-height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behaviour: smooth;
}

.log-wrapper .log-row-header {
  font-family: monospace;
  font-size: 0.825rem;
  padding: 0.1rem;
  margin: 0;
  overflow-x: hidden;
}

.log-wrapper .level-debug .log-row-header {
  color: #e9ecef;
}

.log-wrapper .level-info .log-row-header {
  color: lightblue;
}

.log-wrapper .level-warn .log-row-header {
  color: orange;
}

.log-wrapper .level-error .log-row-header {
  color: red;
}

.json-with-clipboard .json-value-wrapper {
  background-color: rgba(233, 236, 239, 0.36);
  border: 1px solid #e9ecef;
  max-width: 264px;
  padding: 0.75rem;
}

.json-with-clipboard .json-value-wrapper pre {
  font-size: 0.725rem;
}

.json-with-clipboard .clipboard-button {
  position: absolute;
  right: 2rem;
  margin-right: 0.75rem;
  margin-top: 0.25rem;
}

@media only screen and (min-width: 340px) {
  .json-with-clipboard .json-value-wrapper {
    max-width: 300px;
  }
}

@media only screen and (min-width: 480px) {
  .json-with-clipboard .json-value-wrapper {
    max-width: 424px;
  }
}

@media only screen and (min-width: 575px) {
  .json-with-clipboard .json-value-wrapper {
    max-width: 484px;
  }
}

@media only screen and (min-width: 768px) {
  .json-with-clipboard .json-value-wrapper {
    max-width: 664px;
  }
}

@media only screen and (min-width: 1024px) {
  .json-with-clipboard .json-value-wrapper {
    max-width: 904px;
  }
}

@media only screen and (min-width: 1200px) {
  .json-with-clipboard .json-value-wrapper {
    max-width: 1084px;
  }
}

/* Footer */

.footer-container {
  background-color: #f0f0f0;
  padding: 2rem;
  color: #3f3f3f;
  font-size: 0.9rem;
}

.nav-footer {
}

.copyright-box {
  padding: 0.5rem 0rem;
  color: #919191;
}

.nav-footer .nav-link {
  padding: 0.5rem 0.5rem;
  font-size: 0.9rem;
  color: #3f3f3f;
}

.nav-footer a {
  color: #3f3f3f;
}

.nav-footer a:hover {
  color: #3f3f3f;
  text-decoration: underline !important;
}

/* Loading widget */
.pantahub-loading-wrapper {
  padding: 0.75rem;
  background-color: #f0f0f0;
  border-radius: 100%;
  margin: 0.5rem;
}

.pantahub-loading {
  animation-duration: 6s;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  box-sizing: border-box;
  display: inline-block;
  max-height: 100px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Landing page */

.card {
  background-color: #e2e2e2;
}

.landing-page .hero {
  background-color: #30303c;
  padding: 3rem 1rem;
}

.landing-page .hero .welcome {
  color: #eaeaeb;
}

.landing-page .hero .welcome header {
  margin: 3rem 0 1.25rem;
}

.landing-page .hero .welcome h1 {
  font-size: 2.75rem;
  font-weight: 500;
  color: #eaeaeb;
}

.landing-page .hero .welcome p {
  font-size: 1.375rem;
  font-weight: 200;
}

.landing-page .hero .signup {
  background-color: #e2e2e2;
  color: #38383f;
  padding: 2.5rem 2rem 0.25rem;
  border-radius: 0.5rem;
}

.landing-page .hero .welcome .welcome-images {
  margin: 1.5rem 0;
}

.landing-page .hero .welcome .welcome-images-item {
  width: 86px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 480px) {
  .landing-page .hero .welcome .welcome-images-item {
    width: 96px;
  }
}

.landing-page .hero .welcome .welcome-image {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  height: 64px;
  width: 64px;
}

.landing-page .hero .signup .btn-dark {
  color: #fff;
  background-color: $primary-color;
  border-color: $primary-color;
}

.landing-page .sell {
  background-color: #eaeaeb;
}

.landing-page .sell header,
.landing-page .contact header {
  margin: 3rem 0 0;
}

.landing-page .sell hr {
  border-color: #30303c;
}

.landing-page .sell p {
  margin-bottom: 3rem;
}

.landing-page .features .container {
  margin: 3rem auto;
}

.landing-page .features .feature {
  margin-bottom: 3rem;
}

.landing-page .features .feature-image-row {
  margin-bottom: 1.5rem;
}

.landing-page .features .feature-image {
  background-color: #7a7ac8;
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center center;
  width: 140px;
  height: 140px;
  border-radius: 100%;
  margin: 0 auto;
}

.landing-page .features .feature-title-row h4 {
  color: $primary-color;
}

.landing-page .contact {
  background-color: $primary-color;
}

.landing-page .contact,
.landing-page .contact a {
  color: #fff;
}

.landing-page .contact a {
  text-decoration: underline;
}

.landing-page .contact hr {
  border-color: #fff;
}

.landing-page .contact .container {
  margin: 1.5rem auto 6rem;
}

.landing-page .contact .form {
  margin-top: 3rem;
}

.landing-page .contact .form .input-group input::placeholder {
  color: #fff;
}

.landing-page .contact .form .input-group input,
.landing-page .contact .form .input-group-btn button,
.landing-page .contact .form .input-group-btn button:hover {
  color: #fff;
  background: $primary-color;
  border-color: $primary-color;
  border-bottom-color: rgb(66, 66, 98);
  border-bottom-color: #fff;
  border-radius: 0;
}

/* Device metadata */
.device-meta .meta-key {
  min-width: 14rem;
  width: 30%;
}

.device-meta td {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  font-size: 0.925rem;
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    max-width: 40vw;
  }
}

.device-meta .actions {
  text-align: right;
}

.device-meta .new-entry-header td {
  padding-bottom: 0;
}

.device-meta .new-entry-header td label {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin-bottom: 0;
}

.device-meta .new-entry-form td {
  border-top: none;
  padding-top: 0;
}

.device-meta .new-entry-form .textarea,
.device-meta .new-entry-form input[type='text'] {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  font-size: 0.825rem;
}

.device-meta .metadata-edit.new-entry-form td {
  padding-top: 12px;
}
